<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">NFL Fantasy</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <!-- Solo para no autenticados -->
        <li class="nav-item" *ngIf="!auth.isAuthenticated()">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!auth.isAuthenticated()">
          <a class="nav-link" routerLink="/register">Registro</a>
        </li>

        <!-- Solo para autenticados -->
        <li class="nav-item" *ngIf="auth.isAuthenticated()">
          <a class="nav-link" routerLink="/teams/create">Crear equipo</a>
        </li>

        <li class="nav-item" *ngIf="auth.isAuthenticated() && auth.getUserRole() === 'admin'">
          <a class="nav-link" routerLink="/seasons/create">Crear temporada</a>
        </li>

        <li class="nav-item" *ngIf="auth.isAuthenticated() && auth.getUserRole() === 'admin'">
          <a class="nav-link" routerLink="/leagues/create">Crear liga</a>
        </li>
        <li class="nav-item" *ngIf="auth.isAuthenticated() && auth.getUserRole() === 'admin'">
          <a class="nav-link" routerLink="/players/create">Crear Jugadores</a>
        </li>
      </ul>

      <ul class="navbar-nav align-items-center">
        <!-- 👤 Nombre del usuario -->
        <li class="nav-item me-3" *ngIf="auth.isAuthenticated()">
          <span class="navbar-text fw-semibold"> 👋 {{ auth.getUserName() }} </span>
        </li>

        <!-- 🔒 Botón de logout -->
        <li class="nav-item" *ngIf="auth.isAuthenticated()">
          <a class="nav-link text-danger" (click)="logout()" style="cursor: pointer">
            Cerrar sesión
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
