.container {
  max-width: 600px;
}

h3 {
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.form-label {
  font-weight: 500;
}

button {
  margin-top: 1rem;
  width: 100%;
}

select,
input {
  box-shadow: none !important;
}
